header {
    height: 93px;
    width: 1280px;
    background-color: rgba(131, 58, 225, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

header img {
    text-align: center;
    display: flex;
    width: 55px;
    height: 62px;
}

header a {
    height: 24px;
    color:white;
    text-align: center;
    font-size: 24px;
    margin: 0px 35px;
}

.cvc{
    margin: 127px 341px 43px 341px;
    width: 598;
    height: 35;
    opacity: 1;
    top: 220px;
    left: 341px;
    text-align: center;
    size: 45px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 45px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.xleb {
    text-align: center;
    max-width: 988px;
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 50px;
leading-trim: NONE;
line-height: 78px;
letter-spacing: 0%;
text-align: center;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.maclo {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    background: rgba(131, 58, 225, 1);
    color: white;
    border-radius: 20px;
    margin: 23px 440px 145px 440px;
    text-decoration: none;
    padding: 16px 8px;
}

.ocurse{
    background: linear-gradient(180deg, rgba(203, 248, 109, 0.49) 4.17%, rgba(203, 248, 109, 0.5) 18.23%, #FBF9F9 67.19%);
    width: 1280;
    height: 1321;
    top: 701px;
    angle: 0 deg;
    opacity: 1;
    border: 4px solid rgba(131, 58, 225, 1);
}

.pocurse{
    margin: 32px 1111px 10px 30px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;

}

.line{
    border: 1px solid rgba(96, 43, 122, 1);
    margin: 0px 32px 42px 32px;
    
}

.text{
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(96, 43, 122, 1);
    max-width: 1100px;
    margin: 0px 90px 69px 90px;
}



.otidey{
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgba(131, 58, 225, 1);
    border-radius: 20px;
    margin: 69px 390px 91px 390px;
    text-decoration: none;
    padding: 16px 8px;
    max-width: 486px;
    max-height: 182px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 63px;
    letter-spacing: 0%;
    text-align:left;
    padding: 28px 24.92px 53.05px 50.74px;
}

.green{
    color: rgba(165, 220, 49, 1);
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 63px;
    letter-spacing: 0%;
    display: block;
    text-align: left;
}


.yniverizek{
    display: flex;
}

.yniver{
    background: rgba(255, 255, 255, 1);
    margin: 0px 30px 30px 30px;
    max-width: 575px;
    max-height: 426px;
    display: block;
    width: 575;
    height: 326;
    top: 1282px;
    left: 50px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
    border-width: 1px;
    border: 1px solid rgba(131, 58, 225, 1);
    display: flex;
    flex-direction: column;
}

.ynivel{
    background: rgba(255, 255, 255, 1);
    margin: 0px 50px 30px 0px;
    max-width: 575px;
    max-height: 426px;
    display: block;
    width: 575;
    height: 326;
    top: 1282px;
    left: 50px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
    border-width: 1px;
    border: 1px solid rgba(131, 58, 225, 1);
    display: flex;
    flex-direction: column;
}

.yn{
    width: 95.50525665283203;
    height: 100;
    top: 1307px;
    left: 87.39px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    margin: 25px 23.11px 26px 37.39px;

}

.yl{
    width: 95.50525665283203;
    height: 100;
    top: 1307px;
    left: 87.39px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    margin: 25px 26.11px 26px 37.39px;

}

.ghj{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    display: block;
    margin: 53px 79.31px 63px 0px;
}

.ghl{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    display: block;
    margin: 53px 32.31px 63px 0px;
}

.pl{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0%;
    display: block;
    text-align: left;
    margin: 0px 35px 47px 38px;
    flex-direction: column;
    min-height: 128px;
}

.izek{
    background: rgba(255, 255, 255, 1);
    margin: 0px 50px 30px 15px;
    max-width: 575px;
    max-height: 326px;
    display: block;
    width: 575;
    height: 326;
    top: 1282px;
    left: 50px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
    border-width: 1px;
    border: 1px solid rgba(131, 58, 225, 1)
}


.iii{
    display: flex;
}

.naviki{
    background: rgba(255, 255, 255, 1);
    margin: 0px 364.44px 58px 364.44px;
    max-width: 551.11px;
    max-height: 326px;
    display: block;
    width: 575;
    height: 326;
    top: 1282px;
    left: 50px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
    border-width: 1px;
    border: 1px solid rgba(131, 58, 225, 1);
    display: flex;
    flex-direction: column;
}

.nv{
    width: 95.50525665283203;
    height: 100;
    top: 1307px;
    left: 87.39px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    margin: 25px 20.04px 33px 34.63px
}

.hv{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    display: block;
    margin: 57px 32px 66px 0px; 
}

.pv{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0%;
    display: block;
    text-align: left;
    margin: 0px 31.62px 40px 34.67px;
    flex-direction: column;
    min-height: 128px;
}

.texnologii{
    background: rgba(251, 249, 249, 1);
    width: 1280;
    height: 955;
    top: 2020px;
    border-width: 4px;
    angle: 0 deg;
    opacity: 1;
    border: 4px solid rgba(131, 58, 225, 1)
}

.tin{
    width: 325;
    height: 35;
    top: 2052px;
    left: 30px;
    angle: 0 deg;
    opacity: 1;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    color: rgba(96, 43, 122, 1);
    margin: 30px 925px 10px 30px;
}

.linee{
    border: 1px solid rgba(96, 43, 122, 1);
    margin: 0px 30px 125px 30px;
}

.eit{
    width: 576;
    height: 35;
    top: 2222px;
    left: 352px;
    angle: 0 deg;
    opacity: 1;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(96, 43, 122, 0.96);
}

.nac{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    width: 868;
    height: 76;
    top: 2302px;
    left: 206px;
    angle: 0 deg;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    margin: 45px 206px 56px 206px;
}

.obq{
    flex-direction: column;
    width: 1070;
    height: 472;
    top: 2434px;
    left: 105px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    border-width: 1px;

}

.fir{
    display: flex;
}

.pp{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 70px 40px 105px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
}

.pq{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 105px 40px 0px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
}

.pw{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 70px 40px 105px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

    .pe{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 105px 40px 0px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

    .pr{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 70px 40px 105px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

    .pt{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 100px 40px 0px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

    .py{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 70px 69px 105px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

    .pu{
    width: 500;
    height: 88;
    top: 2434px;
    left: 105px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 18px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(96, 43, 122, 0.96);
    padding: 30px;
    margin: 0px 105px 69px 0px;
    max-width: 500px;
    color: rgba(96, 43, 122, 0.96);
    width: 100%;
    text-decoration: none;
    }

.yhenic{
    border: 4px solid rgba(131, 58, 225, 1);
    width: 1280;
    height: 668;
    top: 2974px;
    angle: 0 deg;
    opacity: 1;
    border-width: 4px;
    background: rgba(251, 249, 249, 1);
} 

.iviv{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 48px;
leading-trim: NONE;
line-height: 35px;
letter-spacing: 0%;
text-align: left;
color: rgba(96, 43, 122, 0.96);
    margin: 0px 0px 25px 30px;
}

.pipi{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 25px;
leading-trim: NONE;
line-height: 35px;
letter-spacing: 0%;
width: 166;
height: 35;
top: 3235px;
left: 30px;
angle: 0 deg;
opacity: 1;
color: rgba(96, 43, 122, 0.96);
margin: 0px 734px 42px 30px;
}

.asd{
    width: 498;
height: 213;
top: 3312px;
left: 30px;
angle: 0 deg;
opacity: 1;
font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
leading-trim: NONE;
line-height: 35px;
letter-spacing: 0%;
color: rgba(96, 43, 122, 0.96);
margin: 0px 402px 117px 50px;
}

.dd{
    color: rgba(96, 43, 122, 0.96);
}

.imgt{
    width: 320px;
height: 369px;
border-radius: 25px;
object-fit: cover;
margin: 0px 30px 98px 0px;
}

.itext{
    display: flex;
    justify-content: space-between;
}

.foot{
    border: 2px solid rgba(96, 43, 122, 1)
}

.eee{
    display: flex;
    text-align: center;
    margin: 26px 545.96px 39px 545.93px;
}

.ee{
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
leading-trim: NONE;
line-height: 35px;
letter-spacing: 0%;
color: rgba(96, 43, 122, 0.96);
    text-align: center;
    margin: 0px 53.76px 0px 0px;
}

.ew{
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
leading-trim: NONE;
line-height: 35px;
letter-spacing: 0%;
color: rgba(96, 43, 122, 0.96);
    text-align: center;
}

.uuu{
    display: flex;
    text-align: center;
}

.yy{
    margin: 0px 259.08px 30px 22.62px;
    font-family: Montserrat;
font-weight: 300;
font-style: Italic;
font-size: 17px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
color: rgba(96, 43, 122, 0.96);

}

.yo{
    margin: 0px 238.52px 30px 0px;
        font-family: Montserrat;
font-weight: 300;
font-style: Italic;
font-size: 17px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
color: rgba(96, 43, 122, 0.96);
}

.yp{
    margin: 0px 30.84px 30px 0px;
    font-family: Montserrat;
font-weight: 300;
font-style: Italic;
font-size: 17px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
color: rgba(96, 43, 122, 0.96);
}